<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.smd.user.repository.IUserMapper">

	<!-- 회원가입 -->
	<insert id="register">
		INSERT INTO smd_user (email, pw, nick, addr) VALUES (#{email}, #{pw}, #{nick}, #{addr})
	</insert>
	
	<!-- 아이디 중복확인 -->
	<select id="checkEmail" resultType="int">
		SELECT COUNT(*) FROM smd_user WHERE email = #{email}
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id="delete">
		DELETE FROM smd_user WHERE user_no = #{userNo}
	</delete>
	
	<!-- 회원정보 조회 -->
	<select id="selectOne" resultMap="UserMap">
		SELECT * FROM smd_user WHERE email = #{email}	
	</select>
	
	<!-- 회원정보 전체 조회 -->
	<select id="selectAll" resultMap="UserMap">
		SELECT * FROM smd_user
	</select>
	
	<!-- 자동로그인을 체크할 경우 쿠키값(세션아이디)과 유지시간을 갱신 -->
	<update id="keepLogin">
		UPDATE smd_user SET session_id=#{sessionId}, limit_time=#{limitDate} WHERE email = #{email}
	</update>
	
	<!-- 자동로그인을 했던 회원이 사이트 재방문 시 로컬에 저장된 쿠키값과 일치하는 회원의 정보를	조회 -->
	<select id="getUserWithSessionId" resultMap="UserMap">
		SELECT * FROM smd_user WHERE session_id = #{sessionId}
	</select>
	
	<resultMap id="UserMap" type="com.project.smd.user.model.UserVO">		
		<id property="userNo" column="user_no" />
		<result property="pw" column="pw" />
		<result property="nick" column="nick" />
		<result property="addr" column="addr" />
		<result property="regDate" column="reg_date" />	
		<result property="sessionId" column="session_id" />	
		<result property="limitTime" column="limit_time" />	
	</resultMap>

</mapper>